mixin list
  ul
    li foo
    li bar
    li baz

h2 Groceries
mixin list

mixin pets(pets)
  ul.pets
    - each pet in pets
      li= pet

mixin profile(user)
  .user
    h2= user.name
    mixin pets(user.pets)
