p wahoo!
p
  | foo bar baz
  | rawr rawr
  | super cool
  | go jade go
#user #{name} &lt;#{email}&gt;
p \#{something}
//- NOTE var -> set
- set html = "<script></script>"
| !{html}
label
  | Username:
  input(name='user[name]')
label Username:
  input(name='user[name]')
p.
  foo asdf
  asdf
   asdfasdfaf
   asdf
  asd.
p .
p.
  foo\\bar
